.gradle
**/build/
!gradle/wrapper/gradle-wrapper.jar
**/out/
.DS_Store
/log/*
*/log/*
schema_*.sql
*/.ebextensions
*/.platform

# queryDSL
**/generated

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### REST DOCS ###
apidocs
apidocs-front-api